{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}

{% block title %}{{ group.name }}. статистика{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ group.name }}. статистика</h1>
    </div>

    <table class="table">
        <tr>
            <th>месяц</th>
            <th>учеников</th>
            <th>занятий</th>
            <th>% посещения</th>
            <th>оплата</th>
            <th></th>
        </tr>
        {% for month in months %}
            <tr>
                <td>
                    <a href="{{ url_for('lessons.lessons_in_month',group_id=group.id,month_number=month.month_number) }}">
                        {{ month.month_name }}
                    </a>
                </td>
                <td>{{ month.students_count }}</td>
                <td>{{ month.lessons_count }}</td>
                <td>{{ month.attendings_percent }}</td>
                <td>{{ month.payments_confirmed }} / {{ month.payments }} / {{ month.students_count }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}