{% macro render_master(master) %}
    <tr>
        <td>{{ master.fio }}</td>
        <td>{{ master.system_user.login }}</td>
        <td><a href="{{ url_for('users.edit_master',id=master.id) }}" class="btn btn-default">редактировать</a></td>
    </tr>
{% endmacro %}


{% macro render_teacher(teacher) %}
    <tr>
        <td>{{ teacher.fio }}</td>
        <td>{{ teacher.system_user.login }}</td>
        <td>
            <ul>
                {% for group in teacher.groups.all() %}
                    <li>{{ group.name }} (учеников: {{ group.students.count() }})</li>
                {% else %}
                    <p><i>нет групп</i></p>
                {% endfor %}
            </ul>
        </td>
        <td><a href="{{ url_for('users.edit_teacher',id=teacher.id) }}" class="btn btn-default">редактировать</a></td>
    </tr>
{% endmacro %}


{% macro render_student(student) %}
    <tr>
        <td><a href="{{ url_for('users.student_details',id=student.id) }}">{{ student.fio }}</a></td>
        <td>{{ student.system_user.login }}</td>
        <td>{{ student.birth_date }}</td>
        <td>{{ student.school.name }}</td>
        <td>
            <ul>
                {% for parent in student.parents.all() %}
                    <li>{{ parent.fio }}</li>
                {% else %}
                    <p><i>нет родитей</i></p>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul>
                {% for group in student.groups.all() %}
                    <li>{{ group.name }} ({{ group.students.count() }} уч.)</li>
                {% else %}
                    <p><i>нет групп</i></p>
                {% endfor %}
            </ul>
        </td>
        <td><a href="{{ url_for('users.edit_student',id=student.id) }}" class="btn btn-default">редактировать</a></td>
    </tr>
{% endmacro %}