{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{% if creating %}регистрация{% else %}редактирование{% endif %} {{ class_name }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{% if creating %}регистрация нового{% else %}редактирование{% endif %} {{ class_name }}</h1>
    </div>
    <div class="col-md-8">
        {{ wtf.quick_form(form) }}
    </div>

    {% include '_cancel_button.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='parents_search.js') }}"></script>
{% endblock %}