{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from 'users/_macros.html' import render_master %}
{% from '_macros.html' import render_search %}

{% block title %}список руководителей{% endblock %}

{% block page_content %}
    {% if current_user.system_role.name == role_master_name %}
        <a href="{{ url_for('users.register_master') }}" class="btn btn-default">добавить руководителя</a>
    {% endif %}

    {{ render_search(search) }}

    <table class="table">
        <tr>
            <th>фио</th>
            <th>логин</th>
            <th></th>
        </tr>
        {% for master in items %}
            {{ render_master(master) }}
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'users.masters_list') }}
    </div>
{% endblock %}