{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from '_macros.html' import render_search %}
{% from '_macros.html' import render_last_seen with context %}

{% set title = 'руководители' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    {% if current_user.is_master %}
        <a href="{{ url_for('users.register_master') }}" class="btn btn-default">добавить руководителя</a>
    {% endif %}

    {{ render_search(search) }}

    <table class="table">
        <tr>
            <th>фио</th>
            <th>логин</th>
            <th>последний визит</th>
            {% if current_user.is_master %}
                <th></th>
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for master in items %}
            <tr>
                <td>
                    {% if master.system_user.enabled %}
                        <div style="{% if master.system_user==current_user %}color: orangered{% endif %}">
                            {{ master.fio }}
                        </div>
                    {% else %}
                        <strike>{{ master.fio }}</strike><br/>(отключен)
                    {% endif %}
                </td>
                <td>{{ master.system_user.login }}</td>
                <td>{{ render_last_seen(master.system_user) }}</td>
                {% if current_user.is_master %}
                    <td>
                        <a href="{{ url_for('users.edit_master',id=master.id) }}" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td>
                        {% if master.system_user.id != current_user.id %}
                            <a href="{{ url_for('users.force_change_password',system_user_id=master.system_user.id) }}"
                               class="btn btn-danger">
                                <span class="glyphicon glyphicon-lock"></span>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if master.system_user.id != current_user.id %}
                            <a onclick="askDelete('{{ master.fio }}', '{{ url_for('users.delete_master',id=master.id) }}')"
                               class="btn btn-danger {% if not is_master_removable(master) %}disabled{% endif %}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'users.masters_list', search=search) }}
    </div>
{% endblock %}