{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from '_macros.html' import render_search %}

{% block title %}список руководителей{% endblock %}

{% block page_content %}
    {% if current_user.system_role.name == role_master_name %}
        <a href="{{ url_for('users.register_master') }}" class="btn btn-default">добавить руководителя</a>
    {% endif %}

    {{ render_search(search) }}

    <table class="table">
        <tr>
            <th>фио</th>
            <th>логин</th>
            <th>последний визит</th>
            {% if current_user.system_role.name == role_master_name %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for master in items %}
            <tr>
                <td>{{ master.fio }}</td>
                <td>{{ master.system_user.login }}</td>
                <td>{{ moment(master.system_user.last_seen).fromNow(refresh=True) }}</td>
                {% if current_user.system_role.name == role_master_name %}
                    <td>
                        <a href="{{ url_for('users.edit_master',id=master.id) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('users.delete_master',id=master.id) }}"
                           class="btn btn-danger {% if not is_master_removable(master) %}disabled{% endif %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'users.masters_list') }}
    </div>
{% endblock %}