{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from '_macros.html' import render_search_with_group %}

{% block title %}список учеников{% endblock %}

{% block page_content %}
    <a href="{{ url_for('users.register_student') }}" class="btn btn-default">добавить ученика</a>

    {{ render_search_with_group(search, groups, selected_group) }}

    <table class="table">
        <tr>
            <th>фио</th>
            <th>логин</th>
            <th>дата рождения</th>
            <th>школа / класс / смена</th>
            <th>родители</th>
            <th>группы</th>
            <th>телефон для связи</th>
            <th>последний визит</th>
            <th></th>
            <th></th>
        </tr>
        {% for student in items %}
            <tr>
                <td>
                    <a href="{{ url_for('users.student_details',id=student.id) }}">
                        {% if student.system_user.enabled %}
                            {{ student.fio }}
                        {% else %}
                            <strike>{{ student.fio }}</strike>
                        {% endif %}
                    </a>
                    {% if not student.system_user.enabled %}<br/>(отключен){% endif %}
                    {% if not student.filled %}<br/><span style="color: orangered;">(не заполнен)</span>{% endif %}
                </td>
                <td>{{ student.system_user.login }}</td>
                <td>{{ student.birth_date }}</td>
                <td>{{ student.school.name }} / {{ student.grade }} / {{ student.shift }}</td>
                <td>
                    <ul>
                        {% for parent in student.parents.all() %}
                            <li>
                                <a href="{{ url_for('structure.parents_list',search=parent.fio) }}">
                                    {{ parent.fio }}
                                </a>
                            </li>
                        {% else %}
                            <p><i>нет родитей</i></p>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for group in student.groups.all() %}
                            <li>
                                <a href="{{ url_for('structure.groups_list',search=group.name) }}">
                                    {{ group.name }}
                                </a>
                            </li>
                        {% else %}
                            <p><i>нет групп</i></p>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ student.contact_phone_number }} ({{ student.contact_phone_who }})</td>
                <td>{{ moment(student.system_user.last_seen).fromNow(refresh=True) }}</td>
                {# todo: ? all teachers can remove / edit all students #}
                <td>
                    <a href="{{ url_for('users.edit_student',id=student.id) }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td>
                    <a onclick="askDelete('{{ student.fio }}', '{{ url_for('users.delete_student',id=student.id) }}')"
                       class="btn btn-danger {% if not is_student_removable(student) %}disabled{% endif %}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'users.students_list') }}
    </div>
{% endblock %}