{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from '_macros.html' import render_search_with_group %}
{% from '_macros.html' import render_last_seen with context %}

{% set title = 'ученики' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    <a href="{{ url_for('users.register_student') }}" class="btn btn-default">добавить ученика</a>
    <a href="{{ url_for('users.register_student_fast') }}" class="btn btn-info">добавить ученика быстро</a>

    {{ render_search_with_group(search, groups, selected_group) }}

    <table class="table">
        <tr>
            <th>фио</th>
            <th>логин</th>
            <th>дата рождения</th>
            <th>школа / класс / смена</th>
            <th>родители</th>
            <th>группы</th>
            <th>телефон для связи</th>
            <th>последний визит</th>
            <th></th>
            <th></th>
        </tr>
        {% for student in items %}
            <tr>
                <td>
                    <a href="{{ url_for('users.student_details',id=student.id) }}">
                        {% if student.system_user.enabled %}
                            {{ student.fio }}
                        {% else %}
                            <strike>{{ student.fio }}</strike>
                        {% endif %}
                    </a>
                    {% if not student.system_user.enabled %}<br/>(отключен){% endif %}
                    {% if not student.filled %}<br/><span style="color: #ff4500;">(не заполнен)</span>{% endif %}
                </td>
                <td>{{ student.system_user.login }}</td>
                <td>{{ student.birth_date }}</td>
                <td>{{ student.school.name }} / {{ student.grade }} / {{ student.shift }}</td>
                <td>
                    <ul>
                        {% for parent in student.parents.all() %}
                            <li>
                                <a href="{{ url_for('structure.parents_list',search=parent.fio) }}">
                                    {{ parent.fio }}
                                </a>
                            </li>
                        {% else %}
                            <p><i>нет родитей</i></p>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for group in student.groups.order_by(Group.teacher_id != current_user.teacher_id_or_zero, Group.start_month.desc(), Group.name).all() %}
                            <li>
                                <div {% if current_user.is_teacher and group.teacher_id==current_user.teacher.id %}class="colored_link"{% endif %}>
                                    <a href="{{ url_for('structure.groups_list',search=group.name) }}">
                                        {{ group.name }}
                                    </a>
                                </div>
                            </li>
                        {% else %}
                            <p><i>нет групп</i></p>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ student.contact_phone_number }} ({{ student.contact_phone_who }})</td>
                <td>{{ render_last_seen(student.system_user) }}</td>
                <td>
                    <a href="{{ url_for('users.edit_student',id=student.id) }}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td>
                    <a onclick="askDelete('{{ student.fio }}', '{{ url_for('users.delete_student',id=student.id) }}')"
                       class="btn btn-danger {% if not is_student_removable(student) %}disabled{% endif %}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'users.students_list', search=search, group_id=selected_group.id) }}
    </div>
{% endblock %}