{% extends 'base.html' %}
{% from '_macros.html' import render_parent with context %}
{% from '_macros.html' import render_last_seen with context %}

{% block title %}{{ student.fio }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>
            {{ render_system_user_fio(student.system_user, show_disabled_text=true) }}
            {% if not student.filled %}<span style="color: #ff4500">(не заполнен)</span>{% endif %}
        </h1>
    </div>

    <h4>логин: {{ student.system_user.login }}</h4>
    <h4>последний визит: {{ render_last_seen(student.system_user) }}</h4>
    <h4>дата рождения: {{ student.birth_date }}</h4>
    <h4>место рождения: {{ student.birth_place }}</h4>
    <h4>регистрация: {{ student.registration_place }}</h4>
    <h4>фактический адрес: {{ student.actual_address }}</h4>
    {% if student.additional_info %} <h4>доп. инфо: {{ student.additional_info }}</h4>{% endif %}
    {% if student.known_from %}<h4>узнал(а) о ЦМИТ: {{ student.known_from }}</h4>{% endif %}
    <h4>школа: {{ student.school.name }}</h4>
    <h4>класс: {{ student.grade }}</h4>
    <h4>смена: {{ student.shift }}</h4>
    {% if student.phone %}<h4>телефон: {{ student.phone }}</h4>{% endif %}
    <h4>телефон для связи: {{ student.contact_phone_number }} ({{ student.contact_phone_who }})</h4>
    <h4>гражданство: {{ student.citizenship.name }}</h4>
    <h4>родители:</h4>
    <ul>
        {% for parent in student.parents.all() %}
            <li>{{ render_parent(parent) }}</li>
        {% else %}
            <p><i>нет родитей</i></p>
        {% endfor %}
    </ul>
    группы:
    <ul>
        {% for sig in student.students_in_groups_sorted_for_current_user.all() %}
            <li>
                <div {% if current_user.is_teacher and sig.group.teacher_id==current_user.teacher.id %}class="colored_link"{% endif %}>
                    <a href="{{ url_for('structure.groups_list',search=sig.group.name) }}">
                        {{ sig.group.name }}
                    </a>
                    (<a href="{{ url_for('users.teachers_list',search=sig.group.teacher.fio) }}">
                    {{ render_system_user_fio(sig.group.teacher.system_user) }}
                </a>
                    ; учеников: {{ sig.group.students.count() }})
                ({{ get_month_name(sig.enter_month) }} — {{ get_month_name(sig.exit_month) }})
                </div>
            </li>
        {% else %}
            <p><i>нет групп</i></p>
        {% endfor %}
    </ul>
    <a href="{{ url_for('users.edit_student', id=student.id) }}"
       class="btn btn-warning margined_button">редактировать</a>
{% endblock %}