{% extends 'base.html' %}
{% from '_macros.html' import render_parent with context %}

{% block page_content %}
    <h3>
        {% if student.system_user.enabled %}
            {{ student.fio }}
        {% else %}
            <strike>{{ student.fio }}</strike> (отключен)
        {% endif %}
        {% if not student.filled %}<span style="color: orangered;">(не заполнен)</span>{% endif %}
    </h3>
    <h4>логин: {{ student.system_user.login }}</h4>
    <h4>последний визит: {{ moment(student.system_user.last_seen).fromNow(refresh=True) }}</h4>
    <h4>дата рождения: {{ student.birth_date }}</h4>
    <h4>место рождения: {{ student.birth_place }}</h4>
    <h4>регистрация: {{ student.registration_place }}</h4>
    <h4>фактический адрес: {{ student.actual_address }}</h4>
    {% if student.additional_info %} <h4>доп. инфо: {{ student.additional_info }}</h4>{% endif %}
    {% if student.known_from %}<h4>узнал(а) о ЦМИТ: {{ student.known_from }}</h4>{% endif %}
    <h4>школа: {{ student.school.name }}</h4>
    <h4>класс: {{ student.grade }}</h4>
    <h4>смена: {{ student.shift }}</h4>
    {% if student.phone %}<h4>телефон: {{ student.phone }}</h4>{% endif %}
    <h4>телефон для связи: {{ student.contact_phone_number }} ({{ student.contact_phone_who }})</h4>
    <h4>гражданство: {{ student.citizenship.name }}</h4>
    родители:
    <ul>
        {% for parent in student.parents.all() %}
            <li>{{ render_parent(parent) }}</li>
        {% else %}
            <p><i>нет родитей</i></p>
        {% endfor %}
    </ul>
    группы:
    <ul>
        {% for group in student.groups.all() %}
            <li>
                <a href="{{ url_for('structure.groups_list',search=group.name) }}">
                    {{ group.name }}
                </a>
                (<a href="{{ url_for('users.teachers_list',search=group.teacher.fio) }}">{{ group.teacher.fio }}</a>
                ; учеников: {{ group.students.count() }})
            </li>
        {% else %}
            <p><i>нет групп</i></p>
        {% endfor %}
    </ul>
    <a href="{{ url_for('users.edit_student', id=student.id) }}" class="btn btn-default">редактировать</a>
{% endblock %}