{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from '_macros.html' import render_search %}
{% from '_macros.html' import render_last_seen with context %}

{% set title = 'преподаватели' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    {% if current_user.system_role.name == role_master_name %}
        <a href="{{ url_for('users.register_teacher') }}" class="btn btn-default">добавить преподавателя</a>
    {% endif %}

    {{ render_search(search) }}

    <table class="table">
        <tr>
            <th>фио</th>
            <th>логин</th>
            <th>группы</th>
            <th>телефон</th>
            <th>последний визит</th>
            {% if current_user.system_role.name == role_master_name %}
                <th></th>
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for teacher in items %}
            <tr>
                <td>
                    {% if teacher.system_user.enabled %}
                        {{ teacher.fio }}
                    {% else %}
                        <strike>{{ teacher.fio }}</strike><br/>(отключен)
                    {% endif %}
                </td>
                <td>{{ teacher.system_user.login }}</td>
                <td>
                    <ul>
                        {% for group in teacher.groups.order_by(Group.start_month.desc(), Group.name).all() %}
                            <li>
                                <a href="{{ url_for('structure.groups_list',search=group.name) }}">
                                    {{ group.name }}
                                </a>
                            </li>
                        {% else %}
                            <p><i>нет групп</i></p>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ teacher.phone }}</td>
                <td>{{ render_last_seen(teacher.system_user) }}</td>
                {% if current_user.system_role.name == role_master_name %}
                    <td>
                        <a href="{{ url_for('users.edit_teacher',id=teacher.id) }}" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('users.force_change_password',system_user_id=teacher.system_user.id) }}"
                           class="btn btn-danger">
                            <span class="glyphicon glyphicon-lock"></span>
                        </a>
                    </td>
                    <td>
                        <a onclick="askDelete('{{ teacher.fio }}', '{{ url_for('users.delete_teacher',id=teacher.id) }}')"
                           class="btn btn-danger {% if not is_teacher_removable(teacher) %}disabled{% endif %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'users.teachers_list', search=search) }}
    </div>
{% endblock %}