{% macro render_citizenship(citizenship) %}
    <tr>
        <td>{{ citizenship.name }}</td>
        <td>{{ citizenship.students.count() }}</td>
        <td>
            <a href="{{ url_for('structure.edit_citizenship',id=citizenship.id) }}" class="btn btn-default">редактировать</a>
        </td>
        {#    <a href="{{ url_for('structure.delete_citizenship',id=citizenship.id) }}" class="btn btn-danger">удалить</a>#}
    </tr>
{% endmacro %}


{% macro render_section(section) %}
    <tr>
        <td>{{ section.name }}</td>
        <td>{{ section.price }}</td>
        <td>
            <ul>
                {% for group in section.groups.all() %}
                    <li>{{ group.name }} ({{ group.teacher.fio }})</li>
                {% else %}
                    <p><i>нет групп</i></p>
                {% endfor %}
            </ul>
        </td>
        <td>
            <a href="{{ url_for('structure.edit_section',id=section.id) }}" class="btn btn-default">редактировать</a>
        </td>
        {#    <a href="{{ url_for('structure.delete_section',id=section.id) }}" class="btn btn-danger">удалить</a>#}
    </tr>
{% endmacro %}

{% macro render_school(school) %}
    <tr>
        <td>{{ school.name }}</td>
        <td>{{ school.students.count() }}</td>
        <td>
            <a href="{{ url_for('structure.edit_school',id=school.id) }}" class="btn btn-default">редактировать</a>
        </td>
        {#    <a href="{{ url_for('structure.delete_school',id=school.id) }}" class="btn btn-danger">удалить</a>#}
    </tr>
{% endmacro %}


{% macro render_parent(parent) %}
    <tr>
        <td>{{ parent.fio }}</td>
        <td>{{ parent.phone }}</td>
        <td>{{ parent.email }}</td>
        <td>{{ parent.address }}</td>
        <td>{{ parent.home_phone }}</td>
        <td>
            <ul>
                {% for student in parent.children.all() %}
                    <li>{{ student.fio }}</li>
                {% else %}
                    <p><i>нет детей</i></p>
                {% endfor %}
            </ul>
        </td>
        <td>
            <a href="{{ url_for('structure.edit_parent',id=parent.id) }}" class="btn btn-default">редактировать</a>
        </td>
        {#    <a href="{{ url_for('structure.delete_parent',id=parent.id) }}" class="btn btn-danger">удалить</a>#}
    </tr>
{% endmacro %}


{% macro render_group(group) %}
    <tr>
        <td>{{ group.name }}</td>
        <td>{{ group.section.name }}</td>
        <td>{{ group.teacher.fio }}</td>
        <td>{{ group.students.count() }}</td>
        <td><a href="{{ url_for('structure.edit_group',id=group.id) }}" class="btn btn-default">редактировать</a></td>
        <td><a href="{{ url_for('structure.students_in_group',id=group.id) }}" class="btn btn-default">изменить список
            учеников</a></td>
        <td><a href="{{ url_for('structure.discounts',id=group.id) }}" class="btn btn-default">скидки</a></td>
        <td><a href="{{ url_for('structure.lessons',group_id=group.id) }}" class="btn btn-default">занятия</a></td>
{#        <a href="{{ url_for('structure.delete_group',id=group.id) }}" class="btn btn-danger">удалить</a>#}
    </tr>
{% endmacro %}