{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from '_macros.html' import render_search %}

{% set title = 'группы' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    {% if current_user.system_role.name == role_master_name %}
        <a href="{{ url_for('structure.add_group') }}" class="btn btn-default">добавить группу</a>
    {% endif %}

    {{ render_search(search) }}

    <table class="table">
        <tr>
            <th>название</th>
            <th>секция</th>
            <th>преподаватель</th>
            <th>учеников</th>
            <th>период</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            {% if current_user.system_role.name == role_master_name %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for group in items %}
            <tr>
                <td>{{ group.name }}</td>
                <td>
                    <a href="{{ url_for('structure.sections_list',search=group.section.name) }}">
                        {{ group.section.name }}
                    </a>
                </td>
                <td>
                    <div {% if group.teacher.system_user==current_user %}class="colored_link" {% endif %}>
                        <a href="{{ url_for('users.teachers_list',search=group.teacher.fio) }}">
                            {{ group.teacher.fio }}
                        </a>
                    </div>
                </td>
                <td>{{ group.students.count() }}</td>
                <td>{{ get_month_name(group.start_month) }} — {{ get_month_name(group.end_month) }}</td>
                <td><a href="{{ url_for('lessons.months_list',group_id=group.id) }}" class="btn btn-default"><span
                        class="glyphicon glyphicon-calendar"></span></a></td>
                <td>
                    <a href="{{ url_for('structure.students_in_group',group_id=group.id) }}"
                       class="btn btn-default">
                        список учеников
                    </a>
                </td>
                <td>
                    {% if can_user_write_group(current_user, group) %}
                        <a href="{{ url_for('structure.group_details',group_id=group.id) }}"
                           class="btn btn-default">детали</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('stat.group_stat',group_id=group.id) }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-stats"></span>
                    </a>
                </td>
                <td>
                    {% if can_user_write_group(current_user, group) %}
                        <a href="{{ url_for('payments.payments_in_group',group_id=group.id) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-rub"></span>
                        </a>
                    {% endif %}
                </td>
                {% if current_user.system_role.name == role_master_name %}
                    <td>
                        <a href="{{ url_for('structure.edit_group',group_id=group.id) }}" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <a onclick="askDelete('{{ group.name }}', '{{ url_for('structure.delete_group',id=group.id) }}')"
                           class="btn btn-danger {% if not is_group_removable(group) %}disabled{% endif %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'structure.groups_list', search=search) }}
    </div>
{% endblock %}