{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from '_macros.html' import render_search %}

{% block title %}список групп{% endblock %}

{% block page_content %}
    {% if current_user.system_role.name == role_master_name %}
        <a href="{{ url_for('structure.add_group') }}" class="btn btn-default">добавить группу</a>
    {% endif %}

    {{ render_search(search) }}

    <table class="table">
        <tr>
            <th>название</th>
            <th>секция</th>
            <th>преподаватель</th>
            <th>учеников</th>
            <th>период</th>
            <th></th>
            <th></th>
            <th></th>
            {% if current_user.system_role.name == role_master_name %}
                <th></th>
            {% endif %}
            <th></th>
            <th></th>
        </tr>
        {% for group in items %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.section.name }}</td>
                <td>{{ group.teacher.fio }}</td>
                <td>{{ group.students.count() }}</td>
                <td>{{ get_month_name(group.start_month) }} — {{ get_month_name(group.end_month) }}</td>
                <td><a href="{{ url_for('lessons.months_list',group_id=group.id) }}" class="btn btn-default"><span
                        class="glyphicon glyphicon-calendar"></span></a></td>
                <td>
                    <a href="{{ url_for('structure.students_in_group',group_id=group.id) }}"
                       class="btn btn-default">
                        список учеников
                    </a>
                </td>
                <td>
                    {% if can_user_write_group(current_user, group) %}
                        <a href="{{ url_for('structure.details',group_id=group.id) }}"
                           class="btn btn-default">детали</a>
                    {% endif %}
                </td>
                {% if current_user.system_role.name == role_master_name %}
                    <td><a href="{{ url_for('structure.edit_group',group_id=group.id) }}" class="btn btn-default"><span
                            class="glyphicon glyphicon-pencil"></span></a></td>
                {% endif %}
                <td><a href="{{ url_for('stat.group_stat',group_id=group.id) }}" class="btn btn-default"><span
                        class="glyphicon glyphicon-stats"></span></a></td>
                <td>
                    {% if can_user_write_group(current_user, group) %}
                        <a href="{{ url_for('payments.payments_in_group',group_id=group.id) }}" class="btn btn-default">&#8381;</a>
                    {% endif %}
                </td>
                {#        <a href="{{ url_for('structure.delete_group',id=group.id) }}" class="btn btn-danger">удалить</a>#}
            </tr>
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'structure.groups_list') }}
    </div>
{% endblock %}