{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from 'structure/_macros.html' import render_group %}
{% from '_macros.html' import render_search %}

{% block title %}список групп{% endblock %}

{% block page_content %}
    {% if current_user.system_role.name == role_master_name %}
        <a href="{{ url_for('structure.add_group') }}" class="btn btn-default">добавить группу</a>
    {% endif %}

    {{ render_search(search) }}

    {% for group in items %}
        {{ render_group(group) }}
    {% else %}
        {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
    {% endfor %}

    <div class="footer">
        {{ pagination_widget(pagination, 'structure.groups_list') }}
    </div>
{% endblock %}