{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from '_macros.html' import render_search %}

{% block title %}список родителей{% endblock %}

{% block page_content %}
    <a href="{{ url_for('structure.add_parent') }}" class="btn btn-default">добавить родителя</a>

    {{ render_search(search) }}

    <table class="table">
        <tr>
            <th>фио</th>
            <th>телефон</th>
            <th>email</th>
            <th>адрес</th>
            <th>домашний телефон</th>
            <th>дети</th>
            <th></th>
            <th></th>
        </tr>
        {% for parent in items %}
            <tr>
                <td>{{ parent.fio }}</td>
                <td>{{ parent.phone }}</td>
                <td>{{ parent.email }}</td>
                <td>{{ parent.address }}</td>
                <td>{{ parent.home_phone }}</td>
                <td>
                    <ul>
                        {% for student in parent.children.all() %}
                            <li>{{ student.fio }}</li>
                        {% else %}
                            <p><i>нет детей</i></p>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    {# todo: ? all teachers can edit all parents #}
                    <a href="{{ url_for('structure.edit_parent',id=parent.id) }}" class="btn btn-default"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                </td>
                <td>
                    <a href="{{ url_for('structure.delete_parent',id=parent.id) }}"
                       class="btn btn-danger {% if parent.parent_of_students.count() > 0 %}disabled{% endif %}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'structure.parents_list') }}
    </div>
{% endblock %}