{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from '_macros.html' import render_search_with_group %}

{% set title = 'родители' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    <a href="{{ url_for('structure.add_parent') }}" class="btn btn-default">добавить родителя</a>

    {{ render_search_with_group(search, groups, selected_group) }}

    <table class="table">
        <tr>
            <th>фио</th>
            <th>телефон</th>
            <th>email</th>
            <th>адрес</th>
            <th>домашний телефон</th>
            <th>ВКонтакте</th>
            <th>дети</th>
            <th>уведомления</th>
            <th></th>
            <th></th>
        </tr>
        {% for parent in items %}
            <tr>
                <td>{{ parent.fio }}</td>
                <td>{{ parent.phone }}</td>
                <td>
                    <a href="mailto://{{ parent.email or '' }}">
                        {{ parent.email or '' }}
                    </a>
                </td>
                <td>{{ parent.address or '' }}</td>
                <td>{{ parent.home_phone or '' }}</td>
                <td>
                    <a href="https://{{ parent.vk_link or '' }}">
                        {{ parent.vk_link or '' }}
                    </a>
                </td>
                <td>
                    <ul>
                        {% for student in parent.children.all() %}
                            <li>
                                <a href="{{ url_for('users.student_details',id=student.id) }}">
                                    {% if student.system_user.enabled %}
                                        {{ student.fio }}
                                    {% else %}
                                        <strike>{{ student.fio }}</strike>
                                    {% endif %}
                                </a>
                            </li>
                        {% else %}
                            <p><i>нет детей</i></p>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for notification_type in parent.notification_types_string %}
                            <li>{{ notification_type }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{{ url_for('structure.edit_parent',id=parent.id) }}" class="btn btn-warning"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                </td>
                <td>
                    <a onclick="askDelete('{{ parent.fio }}', '{{ url_for('structure.delete_parent',id=parent.id) }}')"
                       class="btn btn-danger {% if not is_parent_removable(parent) %}disabled{% endif %}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'structure.parents_list', search=search, group_id=selected_group.id) }}
    </div>
{% endblock %}