{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from '_macros.html' import render_search %}

{% block title %}список школ{% endblock %}

{% block page_content %}
    {% if current_user.system_role.name == role_master_name %}
        <a href="{{ url_for('structure.add_school') }}" class="btn btn-default">добавить школу</a>
    {% endif %}

    {{ render_search(search) }}

    <table class="table">
        <tr>
            <th>название</th>
            <th>учеников</th>
            {% if current_user.system_role.name == role_master_name %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for school in items %}
            <tr>
                <td>{{ school.name }}</td>
                <td>{{ school.students.count() }}</td>
                {% if current_user.system_role.name == role_master_name %}
                    <td>
                        <a href="{{ url_for('structure.edit_school',id=school.id) }}" class="btn btn-default"><span
                                class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    <td>
                        <a href="{{ url_for('structure.delete_school',id=school.id) }}"
                           class="btn btn-danger disabled"><span
                                class="glyphicon glyphicon-remove"></span></a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'structure.schools_list') }}
    </div>
{% endblock %}