{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from 'structure/_macros.html' import render_school, render_search %}

{% block title %}список школ{% endblock %}

{% block page_content %}
    <a href="{{ url_for('structure.add_school') }}" class="btn btn-default">добавить школу</a>

    {{ render_search(search) }}

    {% for school in items %}
        {{ render_school(school) }}
    {% else %}
        {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
    {% endfor %}

    <div class="footer">
        {{ pagination_widget(pagination, 'structure.schools_list') }}
    </div>
{% endblock %}