{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from '_macros.html' import render_search %}

{% block title %}список секций{% endblock %}

{% block page_content %}
    {% if current_user.system_role.name == role_master_name %}
        <a href="{{ url_for('structure.add_section') }}" class="btn btn-default">добавить секцию</a>
    {% endif %}

    {{ render_search(search) }}

    <table class="table">
        <tr>
            <th>название</th>
            <th>цена в месяц</th>
            <th>группы</th>
            {% if current_user.system_role.name == role_master_name %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for section in items %}
            <tr>
                <td>{{ section.name }}</td>
                <td>{{ section.price }}</td>
                <td>
                    <ul>
                        {% for group in section.groups.all() %}
                            <li>{{ group.name }} ({{ group.teacher.fio }})</li>
                        {% else %}
                            <p><i>нет групп</i></p>
                        {% endfor %}
                    </ul>
                </td>
                {% if current_user.system_role.name == role_master_name %}
                    <td>
                        <a href="{{ url_for('structure.edit_section',id=section.id) }}" class="btn btn-default"><span
                                class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    <td>
                        <a href="{{ url_for('structure.delete_section',id=section.id) }}"
                           class="btn btn-danger {% if not is_section_removable(section) %}disabled{% endif %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'structure.sections_list') }}
    </div>
{% endblock %}