{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}
{% from '_macros.html' import render_search %}

{% set title = 'секции' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    {% if current_user.is_master %}
        <a href="{{ url_for('structure.add_section') }}" class="btn btn-default">добавить секцию</a>
    {% endif %}

    {{ render_search(search) }}

    <table class="table">
        <tr>
            <th>название</th>
            <th>цена в месяц</th>
            <th>группы</th>
            {% if current_user.is_master %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for section in items %}
            <tr>
                <td>{{ section.name }}</td>
                <td>{{ section.price }} &#8381;</td>
                <td>
                    <ul>
                        {% for group in section.groups.order_by(Group.teacher_id != current_user.teacher_id_or_zero, Group.start_month.desc(), Group.name).all() %}
                            <li>
                                <div {% if current_user.is_teacher and group.teacher_id==current_user.teacher.id %}class="colored_link"{% endif %}>
                                    <a href="{{ url_for('structure.groups_list',search=group.name) }}">
                                        {{ group.name }}
                                    </a>
                                    <a href="{{ url_for('users.teachers_list',search=group.teacher.fio) }}">
                                        ({{ render_system_user_fio(group.teacher.system_user) }})
                                    </a>
                                </div>
                            </li>
                        {% else %}
                            <p><i>нет групп</i></p>
                        {% endfor %}
                    </ul>
                </td>
                {% if current_user.is_master %}
                    <td>
                        <a href="{{ url_for('structure.edit_section',id=section.id) }}" class="btn btn-warning"><span
                                class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    <td>
                        <a onclick="askDelete('{{ section.name }}', '{{ url_for('structure.delete_section',id=section.id) }}')"
                           class="btn btn-danger {% if not is_section_removable(section) %}disabled{% endif %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            {% if search %}<p><i>ничего не найдено</i></p>{% endif %}
        {% endfor %}
    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'structure.sections_list', search=search) }}
    </div>
{% endblock %}