{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}отправка уведомления. {{ group.name }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>
            отправка уведомления. <a
                href="{{ url_for('structure.groups_list',search=group.name) }}">{{ group.name }}</a>
        </h1>
    </div>

    <div class="col-md-6">
        {{ wtf.quick_form(form) }}
    </div>

    <div class="col-md-6">
        {#todo#}
        <h1 style="color: red">в настоящий момент отправка уведомлений <b>не работает</b></h1>

        <ul>
            {% for student in group.students %}
                <li>
                    <b>{{ student.fio }}</b><br/>
                    <ul>
                        {% for parent in student.parents %}
                            <li>
                                {% set types = ' / '.join(parent.notification_types_string) %}
                                {{ parent.fio }}:
                                {% if types %}
                                    {{ types }}
                                {% else %}
                                    <i style="color: red">типы уведомлений не выбраны</i>
                                {% endif %}
                                <br/>
                            </li>
                        {% else %}
                            <i style="color: red">родители не указаны</i>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <i style="color: red">в группе нет учеников</i>
            {% endfor %}
        </ul>
    </div>

    {% include '_cancel_button.html' %}

{% endblock %}