{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}отправка уведомления. {{ group.name }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>
            отправка уведомления. <a href="{{ url_for('structure.groups_list',search=group.name) }}">
            {{ group.name }}
        </a>
        </h1>
    </div>

    <div class="col-md-6">
        {{ wtf.quick_form(form) }}
    </div>

    <div class="col-md-6">
        {#todo#}
        <h2 style="color: red">
            В настоящий момент уведомления на sms / email / vk <b>не отправлются</b>.<br/>
            Они только показываются в личных кабинетах учеников.
        </h2>

        <ul>
            {% for student in group.students %}
                <li>
                    <b>{{ student.fio }}</b><br/>
                    <ul>
                        {% for parent in student.parents %}
                            <li>
                                {% set types = ' / '.join(parent.notification_types_string) %}
                                {{ parent.fio }}:
                                {% if types %}
                                    {{ types }}
                                {% else %}
                                    <span style="color: red">типы уведомлений не выбраны</span>
                                {% endif %}
                                <br/>
                            </li>
                        {% else %}
                            <span style="color: red">родители не указаны</span>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <h3 style="color: red">в группе нет учеников</h3>
            {% endfor %}
        </ul>
    </div>

    {% include '_cancel_button.html' %}

{% endblock %}