.margined_button {
    margin-top: 12px;
    margin-bottom: 12px;
}

.group_select {
    width: 200px;
}

.student_select {
    width: 320px;
}

.red_text {
    margin-top: 32px;
    font-size: 22px;
    color: red;
}