{% extends 'base.html' %}

{% set title = 'удаление пустых занятий' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    <form method="post" class="col-md-12">
        {% for lesson in lessons %}
            <div class="checkbox">
                <label>
                    <input class="checkbox-inline" type="checkbox" name="l_{{ lesson.id }}">
                    {{ lesson.date }} в {{ lesson.group_name }}
                </label>
            </div>
            {% if loop.index==100 %}
                <h3>показаны первые 100 занятий</h3>
            {% endif %}
        {% else %}
            <h3>в прошлом нет пустых занятий</h3>
        {% endfor %}

        <input class="btn btn-warning" type="submit" name="submit" value="удалить"
               {% if not lessons %}disabled{% endif %}>

    </form>

    {% include '_cancel_button.html' %}

{% endblock %}