{% extends 'base.html' %}

{% block title %}{{ group.name }}. формирование расписания{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ group.name }}. формирование расписания</h1>
    </div>

    <form method="post" class="col-md-12">

        {% for day_of_week in days_of_week_names %}
            <div class="checkbox">
                <label>
                    <input class="checkbox-inline" type="checkbox" name="dow_{{ loop.index0 }}"
                           {% if loop.index0 in checked_days %}checked{% endif %}>
                    {{ day_of_week }}
                </label>
            </div>

        {% endfor %}

        <input class="btn btn-info" type="submit" name="submit" value="сформировать">

    </form>

    {% include '_cancel_button.html' %}

    <div class="red_text col-md-12">ранее созданные занятия на будущие дни будут удалены!</div>

{% endblock %}