{% extends 'base.html' %}

{% block title %}занятия в {{ group.name }} за {{ month_name }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>занятия в {{ group.name }} за {{ month_name }}</h1>
    </div>

    <a href="{{ url_for('lessons.months_list',group_id=group.id) }}" class="btn btn-success margined_button">
        список по месяцам
    </a>

    <table class="table">
        <tr>
            <th>ученик</th>
            {% for lesson in lessons %}
                <th>
                    <input form="save_form" type="date" name="l_{{ lesson.id }}" value="{{ lesson.date }}" required
                           min="{{ start_date_of_month(group.start_month) }}"
                           max="{{ end_date_of_month(group.end_month) }}">
                </th>
            {% endfor %}
            <th>оплата</th>
            <th>нал.</th>
        </tr>
        {% for student_in_group in students_in_group %}
            <tr>
                <td>{{ student_in_group.student.fio }}</td>
                {% for lesson_id in lesson_ids %}
                    <td>
                        <input form="save_form" type="checkbox"
                               name="a_{{ lesson_id }}_{{ student_in_group.student_id }}"
                               {% if attendings[lesson_id].get(student_in_group.student_id, False) %}checked{% endif %}>
                    </td>
                {% endfor %}
                <td>
                    {% if confirmed.get(student_in_group.id) %}
                        {{ payments.get(student_in_group.id, 0) }} /
                        {{ group.section.price - student_in_group.discount }}
                        <span style="color: green; ">(подтв.)</span>
                    {% else %}
                        <input max="{{ group.section.price - student_in_group.discount }}" min="0" form="save_form"
                               type="number" name="p_{{ student_in_group.id }}"
                               value="{{ payments.get(student_in_group.id, 0) }}">
                        / {{ group.section.price - student_in_group.discount }}
                    {% endif %}
                </td>
                <td>
                    {% if confirmed.get(student_in_group.id) %}
                        <input type="checkbox" disabled {% if cash[student_in_group.id] %}checked{% endif %}>
                    {% else %}
                        <input form="save_form" type="checkbox" name="c_{{ student_in_group.id }}"
                               {% if cash.get(student_in_group.id, True) %}checked{% endif %}>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            {% for lesson_id in lesson_ids %}
                <td>
                    <a href="{{ url_for('lessons.delete_lesson',lesson_id=lesson_id) }}"
                       class="btn btn-danger {% if not removable_lessons.get(lesson_id, False) %}disabled{% endif %}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            {% endfor %}
            <td></td>
            <td></td>
        </tr>
    </table>

    <form method="post" id="save_form">
        <p><input class="btn btn-default" type="submit" name="submit" value="сохранить"></p>
    </form>

    <a href="{{ url_for('users.register_student') }}" class="btn btn-default">добавить ученика</a>

{% endblock %}