{% extends 'base.html' %}

{% block title %}занятия в {{ group.name }} за {{ month_name }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>занятия в {{ group.name }} за {{ month_name }}</h1>
    </div>

    <a href="{{ url_for('lessons.lessons_in_month', group_id=group.id, month_number=month_number - 1) }}"
       class="btn btn-info {% if month_number == group.start_month %}disabled{% endif %}">
        &laquo; {{ get_month_name(month_number - 1) }}
    </a>

    <a href="{{ url_for('lessons.months_list',group_id=group.id) }}" class="btn btn-success margined_button">
        список по месяцам
    </a>

    <a href="{{ url_for('lessons.lessons_in_month', group_id=group.id, month_number=month_number + 1) }}"
       class="btn btn-info {% if month_number == group.end_month %}disabled{% endif %}">
        {{ get_month_name(month_number + 1) }} &raquo;
    </a>

    <table class="table">
        <tr>
            <th>ученик</th>
            {% for lesson in lessons %}
                <th>
                    {% if write_mode %}
                        <input form="save_form" type="date" name="l_{{ lesson.id }}" value="{{ lesson.date }}" required
                               min="{{ start_date_of_month(group.start_month) }}"
                               max="{{ end_date_of_month(group.end_month) }}">
                    {% else %}
                        {{ lesson.date }}
                    {% endif %}
                </th>
            {% endfor %}
            <th>оплата</th>
            <th>нал.</th>
        </tr>
        {% for student_in_group in students_in_group %}
            <tr>
                <td>{{ student_in_group.student.fio }}</td>
                {% for lesson_id in lesson_ids %}
                    <td>
                        <input form="save_form" type="checkbox"
                               name="a_{{ lesson_id }}_{{ student_in_group.student_id }}"
                               {% if attendings[lesson_id].get(student_in_group.student_id, False) %}checked{% endif %}
                               {% if not write_mode %}disabled{% endif %}>
                    </td>
                {% endfor %}
                {# todo: ? hide all info about payments if not write mode#}
                <td>
                    {% if confirmed.get(student_in_group.id) %}
                        {{ payments.get(student_in_group.id, 0) }} /
                        {{ group.section.price - student_in_group.discount }}
                        <span style="color: green; ">(подтв.)</span>
                    {% else %}
                        {% if write_mode %}
                            <input max="{{ group.section.price - student_in_group.discount }}" min="0" form="save_form"
                                   type="number" name="p_{{ student_in_group.id }}"
                                   value="{{ payments.get(student_in_group.id, 0) }}">
                        {% else %}
                            {{ payments.get(student_in_group.id, 0) }}
                        {% endif %}
                        / {{ group.section.price - student_in_group.discount }}
                    {% endif %}
                </td>
                <td>
                    {% if confirmed.get(student_in_group.id) %}
                        <input type="checkbox" disabled {% if cash[student_in_group.id] %}checked{% endif %}>
                    {% else %}
                        <input form="save_form" type="checkbox" name="c_{{ student_in_group.id }}"
                               {% if cash.get(student_in_group.id, True) %}checked{% endif %}
                               {% if not write_mode %}disabled{% endif %}>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            {% for lesson_id in lesson_ids %}
                <td>
                    {% if write_mode %}
                        <a href="{{ url_for('lessons.delete_lesson',lesson_id=lesson_id) }}"
                           class="btn btn-danger {% if not removable_lessons.get(lesson_id, False) %}disabled{% endif %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    {% endif %}
                </td>
            {% endfor %}
            <td></td>
            <td></td>
        </tr>
    </table>

    {% if write_mode %}
        <form method="post" id="save_form">
            <p><input class="btn btn-default" type="submit" name="submit" value="сохранить"></p>
        </form>

        <a href="{{ url_for('users.register_student') }}" class="btn btn-default">добавить ученика</a>
    {% endif %}

{% endblock %}