{% extends 'base.html' %}

{% block title %}занятия в {{ group.name }} за {{ month_name }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>занятия в {{ group.name }} за {{ month_name }}</h1>
    </div>

    <a href="{{ url_for('lessons.lessons_in_month', group_id=group.id, month_number=month_number - 1) }}"
       class="btn btn-info {% if month_number == group.start_month %}disabled{% endif %}">
        &laquo; {{ get_month_name(month_number - 1) }}
    </a>

    <a href="{{ url_for('lessons.months_list',group_id=group.id) }}" class="btn btn-success margined_button">
        список по месяцам
    </a>

    <a href="{{ url_for('lessons.lessons_in_month', group_id=group.id, month_number=month_number + 1) }}"
       class="btn btn-info {% if month_number == group.end_month %}disabled{% endif %}">
        {{ get_month_name(month_number + 1) }} &raquo;
    </a>

    <table class="table">
        <tr>
            <th>ученик</th>
            {% for lesson in lessons %}
                <th>
                    {{ lesson.date.day }}
                    {% if lesson.teacher.id != group.teacher.id %}
                        <br/>
                        {{ lesson.teacher.fio }}
                    {% endif %}
                </th>
            {% endfor %}
            {% if write_mode %}
                <th>оплата</th>
                <th>комментарий</th>
                <th>нал.</th>
            {% endif %}
        </tr>
        {% for student_in_group in students_in_group %}
            <tr>
                <td><a href="{{ url_for('users.student_details',id=student_in_group.student_id) }}">
                    {{ student_in_group.student.fio }}
                </a></td>
                {% for lesson in lessons %}
                    <td>
                        <input form="save_form" type="checkbox"
                               name="a_{{ lesson.id }}_{{ student_in_group.student_id }}"
                               {% if attendings[lesson.id].get(student_in_group.student_id, False) %}checked{% endif %}
                               {% if not write_mode %}disabled{% endif %}>
                    </td>
                {% endfor %}
                {% if write_mode %}
                    <td>
                        {% if confirmed.get(student_in_group.id) %}
                            {{ payments.get(student_in_group.id, 0) }} /
                            {{ group.section.price - student_in_group.discount }}
                            <span style="color: green; ">(подт.)</span>
                        {% else %}
                            {% if write_mode %}
                                <input max="{{ group.section.price - student_in_group.discount }}" min="0"
                                       form="save_form"
                                       type="number" name="p_{{ student_in_group.id }}"
                                       value="{{ payments.get(student_in_group.id, 0) }}">
                            {% endif %}
                            / {{ group.section.price - student_in_group.discount }}
                        {% endif %}
                    </td>
                    <td>
                        {% if confirmed.get(student_in_group.id) %}
                            <span style="font-size: smaller">
                                    <i>{{ comments.get(student_in_group.id) }}</i>
                            </span>
                        {% else %}
                            <input form="save_form" name="comment_{{ student_in_group.id }}"
                                   maxlength="32" value="{{ comments.get(student_in_group.id, '') }}"
                                   style="width: 72px; font-size: smaller">
                        {% endif %}
                    </td>
                    <td>
                        {% if confirmed.get(student_in_group.id) %}
                            <input type="checkbox" disabled {% if cash[student_in_group.id] %}checked{% endif %}>
                        {% else %}
                            <input form="save_form" type="checkbox" name="c_{{ student_in_group.id }}"
                                   {% if cash.get(student_in_group.id, True) %}checked{% endif %}>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr>
            <td><b>всего</b></td>
            {% for lesson in lessons %}
                <td>{{ lesson.attendings_was.count() }}</td>
            {% endfor %}
            {% if write_mode %}
                <td></td> {# оплата #}
                <td></td> {# комментарий #}
                <td></td> {# нал. #}
            {% endif %}
        </tr>
        <tr>
            <td></td>
            {% for lesson in lessons %}
                <td>
                    {% if write_mode %}
                        <a href="{{ url_for('lessons.delete_lesson',lesson_id=lesson.id, from_list=0) }}"
                           class="btn btn-danger {% if not is_lesson_removable(lesson) %}disabled{% endif %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    {% endif %}
                </td>
            {% endfor %}
            {% if write_mode %}
                <td></td> {# оплата #}
                <td></td> {# комментарий #}
                <td></td> {# нал. #}
            {% endif %}
        </tr>
    </table>

    {% if write_mode %}
        <form method="post" id="save_form">
            <p><input class="btn btn-default" type="submit" name="submit" value="сохранить"></p>
        </form>

        <a href="{{ url_for('users.register_student') }}" class="btn btn-default">добавить ученика</a>
    {% endif %}

{% endblock %}