{% extends 'base.html' %}
{% from '_macros.html' import pagination_widget %}

{% block title %}занятия{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>занятия</h1>
    </div>

    <form method="get" class="form-group">
        <div class="form-group">
            <h3><label for="group_id">группа</label></h3>
            <select class="form-control" id="group_id" name="group_id">
                <option value="0">все</option>
                {% for group in groups %}
                    <option value="{{ group.id }}" {% if group.id==group_id %}selected{% endif %}>
                        {{ group.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <h3><label for="teacher_id">преподаватель</label></h3>
            <select class="form-control" id="teacher_id" name="teacher_id">
                <option value="0">все</option>
                {% for teacher in teachers %}
                    <option value="{{ teacher.id }}" {% if teacher.id==teacher_id %}selected{% endif %}>
                        {{ teacher.fio }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-default" type="submit" value="искать">
    </form>

    <table class="table">
        <tr>
            <th>дата</th>
            <th>группа</th>
            <th>преподаватель</th>
            <th>учеников</th>
            {% if current_user.system_role.name == role_master_name or current_user.system_role.name == role_teacher_name %}
                <th></th>
            {% endif %}
        </tr>
        {% for lesson in lessons %}
            <tr>
                <td>
                    <a href="{{ url_for('lessons.lessons_in_month',group_id=lesson.group_id,month_number=number_of_month_for_date(lesson.date)) }}">
                        {{ lesson.date }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('structure.groups_list',search=lesson.group.name) }}">
                        {{ lesson.group.name }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('users.teachers_list',search=lesson.teacher.fio) }}">
                        {{ lesson.teacher.fio }}
                    </a>
                </td>
                <td>{{ lesson.attendings_was.count() }}
                    / {{ lesson.group.students_in_month(number_of_month_for_date(lesson.date)).count() }}</td>
                {% if current_user.system_role.name == role_master_name or current_user.system_role.name == role_teacher_name %}
                    <td>
                        {% if can_user_write_group(current_user, lesson.group) %}
                            <a onclick="askDelete('занятие {{ lesson.date }} в {{ lesson.group.name }}', '{{ url_for('lessons.delete_lesson',lesson_id=lesson.id, from_list=1) }}')"
                               class="btn btn-danger {% if not is_lesson_removable(lesson) %}disabled{% endif %}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <h3><i>нет занятий</i></h3>
        {% endfor %}

    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'lessons.lessons_list', group_id=group_id) }}
    </div>

    <a class="btn btn-danger margined_button" href="{{ url_for('lessons.delete_empty_past_lessons') }}">
        удалить пустые занятия в прошлом
    </a>
{% endblock %}