{% extends 'base.html' %}

{% block title %}{{ group.name }}. оплата{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1><a href="{{ url_for('structure.groups_list',search=group.name) }}">{{ group.name }}</a>. оплата</h1>
    </div>

    <table class="table">
        <tr>
            <th>ученик</th>
            {% for m in range(group.start_month, group.end_month + 1) %}
                <th>{{ get_month_name(m) }}</th>
            {% endfor %}
            <th>всего</th>
        </tr>

        {% for student_in_group in students_in_group %}
            <tr>
                <td>
                    <a href="{{ url_for('users.student_details',id=student_in_group.student_id) }}">
                        {{ render_system_user_fio(student_in_group.student.system_user) }}
                    </a>
                </td>
                {% for m in range(group.start_month, group.end_month + 1) %}
                    <td>
                        {% if student_in_group.enter_month <= m and m <= student_in_group.exit_month %}
                            {% if confirmed[m].get(student_in_group.id) %}
                                {{ payments[m].get(student_in_group.id, 0) }}
                                / {{ group.section.price - student_in_group.discount }} &#8381;
                            {% else %}
                                <input max="{{ group.section.price - student_in_group.discount }}" min="0"
                                       form="save_form"
                                       type="number" name="p_{{ m }}_{{ student_in_group.id }}"
                                       value="{{ payments[m].get(student_in_group.id, 0) }}">
                                / {{ group.section.price - student_in_group.discount }} &#8381;
                            {% endif %}
                            <br/>
                            <input form="save_form" type="checkbox"
                                   name="cash_{{ m }}_{{ student_in_group.id }}"
                                   {% if cash[m].get(student_in_group.id, True) %}checked{% endif %}
                                   {% if confirmed[m].get(student_in_group.id) %}disabled{% endif %}>
                            нал.
                            <br/>
                            {% if confirmed[m].get(student_in_group.id) %}
                                {% if comments[m].get(student_in_group.id) %}
                                    <span style="font-size: smaller">{{ comments[m].get(student_in_group.id) }}</span>
                                    <br/>
                                {% endif %}
                            {% else %}
                                <input form="save_form" name="comment_{{ m }}_{{ student_in_group.id }}"
                                       maxlength="32" value="{{ comments[m].get(student_in_group.id, '') }}"
                                       style="width: 72px; font-size: smaller">
                                <br/>
                            {% endif %}
                            <input form="save_form" type="checkbox"
                                   name="conf_{{ m }}_{{ student_in_group.id }}"
                                   {% if confirmed[m].get(student_in_group.id) %}checked{% endif %}
                                   {% if not can_confirm %}disabled{% endif %}>
                            <span style="{% if confirmed[m].get(student_in_group.id) %}color: green;{% endif %}">подт.</span>
                        {% else %}
                            n/a
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                     <span style="{% if confirmed_count_students[student_in_group.id] == student_in_group.exit_month - student_in_group.enter_month + 1 %}color: green;{% endif %}">
                        {{ confirmed_count_students[student_in_group.id] }} /
                        {{ non_zero_count_students[student_in_group.id] }} /
                        {{ student_in_group.exit_month - student_in_group.enter_month + 1 }}
                     </span>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>всего</td>
            {% for m in range(group.start_month, group.end_month + 1) %}
                <td>
                    <span style="{% if confirmed_count_months[m] == students_in_month[m] %}color: green;{% endif %}">
                        {{ confirmed_count_months[m] }} / {{ non_zero_count_months[m] }} / {{ students_in_month[m] }}
                    </span>
                </td>
            {% endfor %}
            <td><b>{{ confirmed_payments }} / {{ non_zero_payments }} / {{ total_payments }}</b></td>
        </tr>
    </table>

    {% if current_user.is_teacher %}
        <div class="col-md-4">
            <h4>сумма неподтвержденных платежей:</h4>
            <table class="table">
                {% for group in sum_not_confirmed_by_group %}
                    <tr>
                        <td>
                            <a href="{{ url_for('structure.groups_list',search=group.name) }}">
                                {{ group.name }}
                            </a>
                        </td>
                        <th>{{ group.sum_not_confirmed or 0 }} &#8381;</th>
                    </tr>
                {% endfor %}
                <tr>
                    <td>во всех Ваших группах</td>
                    <th>{{ sum_not_confirmed_all or 0 }} &#8381;</th>
                </tr>
            </table>
        </div>
    {% endif %}

    <div class="col-md-12">
        <form method="post" id="save_form">
            <p><input class="btn btn-default" type="submit" name="submit" value="сохранить"></p>
        </form>
    </div>

{% endblock %}