{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from '_macros.html' import pagination_widget %}

{% set title='диалог с ' + receiver.details.fio %}

{% block title %}диалог с {{ receiver.details.fio }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>диалог с
            {% if current_user.is_student %}
                {{ receiver.details.fio }}
                {% if receiver.is_master or receiver.is_teacher %}
                    ({{ receiver.system_role.name }})
                {% endif %}
            {% else %}
                <a href="
                {% if receiver.is_master %}
                    {{ url_for('users.masters_list',search=receiver.master.fio) }}
                {% elif receiver.is_teacher %}
                    {{ url_for('users.teachers_list',search=receiver.teacher.fio) }}
                {% else %}
                    {{ url_for('users.student_details',id=receiver.student.id) }}
                {% endif %}
                ">
                    {{ receiver.details.fio }}
                    {% if receiver.is_master or receiver.is_teacher %}
                        ({{ receiver.system_role.name }})
                    {% endif %}
                </a>
            {% endif %}
        </h1>
    </div>

    <div class="col-md-12" style="margin-bottom: 42px">
        {{ wtf.quick_form(form) }}
    </div>

    <table class="table">
        <tr>
            <th>время</th>
            <th>отправитель</th>
            <th>сообщение</th>
        </tr>
        {% for message in messages %}
            <tr {% if not message.forward and message.message_details.unread %}style="background-color: #f4f4f4;"{% endif %}>
                <td>{{ moment(message.message_details.send_time).format('LLL') }}</td>
                <td>
                    {% if message.forward %}
                        Вы
                    {% else %}
                        {{ message.receiver.details.fio }}
                    {% endif %}
                </td>
                <td>
                    {% if message.message_details.unread %}
                        {% if message.forward %}
                            <span style="color: gray">(непрочитано)</span> {{ message.message_details.body }}
                        {% else %}
                            <b style="color: orangered">{{ message.message_details.body }}</b>
                        {% endif %}
                    {% else %}
                        {{ message.message_details.body }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <h3>нет сообщений</h3>
        {% endfor %}

    </table>

    <div class="footer">
        {{ pagination_widget(pagination, 'messages.messages_list',receiver_id=receiver.id) }}
    </div>
{% endblock %}