{% macro pagination_widget(pagination, endpoint, fragment='') %}
    <ul class="pagination">
        <li {% if not pagination.has_prev %}class="disabled"{% endif %}>
            <a href="{% if pagination.has_prev %}{{ url_for(endpoint,page=pagination.prev_num,**kwargs) }}{{ fragment }}
                {% else %}#{% endif %}">
                &laquo;
            </a>
        </li>
        {% for p in pagination.iter_pages() %}
            {% if p %}
                {% if p == pagination.page %}
                    <li class="active">
                        <a href="{{ url_for(endpoint,page=p,**kwargs) }}{{ fragment }}">{{ p }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for(endpoint,page=p,**kwargs) }}{{ fragment }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li {% if not pagination.has_next %}class="disabled"{% endif %}>
            <a href="{% if pagination.has_next %}{{ url_for(endpoint,page=pagination.next_num,**kwargs) }}{{ fragment }}
                {% else %}#{% endif %}">
                &raquo;
            </a>
        </li>
    </ul>
{% endmacro %}


{% macro render_search(search) %}
    <form method="get" class="form-group">
        <div class="form-group">
            <h2><label for="search">поиск</label></h2>
            <input class="form-control" id="search" name="search" type="text" value="{{ search }}">
        </div>
        <input class="btn btn-default" type="submit" value="искать">
    </form>

    {% if search %}результаты поиска по запросу "<b>{{ search }}</b>"{% endif %}
{% endmacro %}

{% macro render_search_with_group(search, groups, selected_group) %}
    <form method="get" class="form-group">
        <h3><label for="group_id">группа</label></h3>
        <select class="form-control" id="group_id" name="group_id">
            <option value="0">все</option>
            {% for group in groups %}
                <option value="{{ group.id }}" {% if group.id==selected_group.id %}selected{% endif %}>
                    {{ group.name }}
                </option>
            {% endfor %}
        </select>

        <div class="form-group">
            <h2><label for="search">поиск</label></h2>
            <input class="form-control" id="search" name="search" type="text" value="{{ search }}">
        </div>

        <input class="btn btn-default" type="submit" value="искать">
    </form>

    {% if search or selected_group %}результаты поиска
        {% if search %}по запросу "<b>{{ search }}</b>"{% endif %}
        {% if selected_group %}в группе <b>{{ selected_group.name }}</b>{% endif %}
    {% endif %}
{% endmacro %}

{% macro render_parent(parent) %}
    <h5>
        <a href="{{ url_for('structure.parents_list',search=parent.fio) }}">
            {{ parent.fio }}
        </a>
    </h5>
    <h5>телефон: {{ parent.phone }}</h5>
    {% if parent.address %}<h5>адрес: {{ parent.address }}</h5>{% endif %}
    {% if parent.email %}
        <h5>email: <a href="mailto://{{ parent.email }}">{{ parent.email }}</a></h5>
    {% endif %}
    {% if parent.passport %}<h5>паспорт: {{ parent.passport }}</h5>{% endif %}
    {% if parent.vk_link %}
        <h5>ВКонтакте: <a href="https://{{ parent.vk_link }}">{{ parent.vk_link }}</a></h5>
    {% endif %}
    {% if parent.home_phone %}<h5>домашний телефон: {{ parent.home_phone }}</h5>{% endif %}
    <h5>уведомления: {{ ' / '.join(parent.notification_types_string) or 'нет' }}</h5>
{% endmacro %}

{% macro render_last_seen(system_user) %}
    {% if system_user.last_seen_where == last_seen_registration %}
        никогда
    {% else %}
        {{ moment(system_user.last_seen).fromNow(refresh=True) }}
        {% if system_user.last_seen_where == last_seen_android %}
            <span class="glyphicon glyphicon-phone"></span>
        {% endif %}
    {% endif %}
{% endmacro %}