{% extends 'bootstrap/base.html' %}
{% from '_macros.html' import render_system_user_fio with context %}

{% block title %}crmit{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='ic_launcher.png') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang("ru") }}
    <script src="{{ url_for('static', filename='nav.js') }}"></script>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">
                    <span style="color: {% if current_user.is_developer %}fuchsia
                    {% elif current_user.is_master %}#ff4500
                    {% elif current_user.is_teacher %}#1E90FF
                    {% elif current_user.is_student %}#228B22
                    {% else %}#000000
                    {% endif %}">
                        crmit
                    </span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if current_user.is_master or current_user.is_teacher %}
                        <li><a href="{{ url_for('users.masters_list') }}">руков-ли</a></li>
                        <li><a href="{{ url_for('users.teachers_list') }}">препод-ли</a></li>
                        <li><a href="{{ url_for('users.students_list') }}">ученики</a></li>

                        <li><a href="{{ url_for('structure.parents_list') }}">род-ли</a></li>
                        <li><a href="{{ url_for('structure.sections_list') }}">секции</a></li>
                        <li><a href="{{ url_for('structure.groups_list', teacher_id=current_user.teacher_id_or_zero) }}">группы</a></li>
                        <li><a href="{{ url_for('lessons.lessons_list', teacher_id=current_user.teacher_id_or_zero, selected_date=current_date_fun()) }}">занятия</a></li>
                        <li><a href="{{ url_for('notifications.notifications_list') }}">увед-я</a></li>
                        <li><a href="{{ url_for('schedule.timetable') }}">расп-е</a></li>

                        {% set unread_dialogs_count = current_user.unread_dialogs_count %}
                        <li><a href="{{ url_for('messages.dialogs_list') }}">
                            сообщ-я
                            {% if unread_dialogs_count > 0 %}
                                <span style="color: orangered"><b>({{ unread_dialogs_count }})</b></span>
                            {% endif %}
                        </a></li>
                    {% endif %}

                    {% if current_user.is_master %}
                        <li><a href="{{ url_for('main.anth') }}">ещё</a></li>
                    {% endif %}

                    {% if current_user.is_student %}
                        <li><a href="{{ url_for('student.lessons', selected_date=current_date_fun()) }}">занятия</a>
                        </li>
                        <li><a href="{{ url_for('student.payments') }}">платежи</a></li>
                        <li><a href="{{ url_for('student.notifications') }}">уведомления</a></li>
                        {% set unread_dialogs_count = current_user.unread_dialogs_count %}
                        <li><a href="{{ url_for('messages.dialogs_list') }}">
                            сообщения
                            {% if unread_dialogs_count > 0 %}
                                <span style="color: orangered"><b>({{ unread_dialogs_count }})</b></span>
                            {% endif %}
                        </a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('users.logout') }}"><b>выйти</b></a></li>
                    {% else %}
                        <li><a href="{{ url_for('users.login') }}">войти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% if current_user.is_authenticated and not current_user.is_student and hide_who_u_r != True %}
            <p style="color: gray">вы действуете как {{ current_user.login }} ({{ current_user.system_role.name }})</p>
        {% endif %}

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}