{% extends 'base.html' %}

{% block page_content %}

    {% if current_user.is_authenticated %}
        <h3>добро пожаловать, {{ current_user.login }} ({{ current_user.details.fio }})</h3>
        <h4>вы - {{ current_user.system_role.name }}</h4>
        {% if current_user.system_role.name == role_master_name or current_user.system_role.name == role_teacher_name %}
            <div class="btn-block">
                <a href="{{ url_for('users.change_password') }}" class="btn btn-default">изменить пароль</a>
            </div>

            {% if current_user.access_tokens.count() > 0 %}
                <div style="margin-top: 100px">
                    <div class="btn-block">
                        <p>вы авторизованы также через мобильное приложение,
                            <br/>тут вы можете завершить все сессии в мобильном приложении</p>
                        <a href="{{ url_for('users.logout_app') }}" class="btn btn-danger">завершить</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <i>вы не авторизованы</i>
        <a href="{{ url_for('users.login') }}" class="btn btn-default">войти</a>
    {% endif %}

{% endblock %}