{% extends 'base.html' %}

{% block page_content %}

    {% if current_user.is_authenticated %}
        <b>добро пожаловать, {{ current_user.login }} ({{ current_user.details.fio }})</b>
        <div class="btn-block">
            <a href="{{ url_for('auth.change_password') }}" class="btn btn-default">изменить пароль</a>
        </div>
        <div class="btn-block">
            {% if current_user.system_role.name == role_master_name %}
                <a href="{{ url_for('auth.register_master') }}" class="btn btn-default">добавить руководителя</a>
                <a href="{{ url_for('auth.register_teacher') }}" class="btn btn-default">добавить преподавателя</a>
            {% endif %}
            {% if current_user.system_role.name == role_master_name or current_user.system_role.name == role_teacher_name %}
                <a href="{{ url_for('auth.register_student') }}" class="btn btn-default">добавить ученика</a>
            {% endif %}
        </div>
        {% if current_user.system_role.name == role_master_name %}
            <div class="btn-block">
                <a href="{{ url_for('structure.add_citizenship') }}" class="btn btn-default">добавить гражданство</a>
                <a href="{{ url_for('structure.add_section') }}" class="btn btn-default">добавить секцию</a>
                <a href="{{ url_for('structure.add_school') }}" class="btn btn-default">добавить школу</a>
                <a href="{{ url_for('structure.add_parent') }}" class="btn btn-default">добавить родителя</a>
                <a href="{{ url_for('structure.add_group') }}" class="btn btn-default">добавить группу</a>
            </div>
        {% endif %}
    {% else %}
        <i>вы не авторизованы</i>
        <a href="{{ url_for('auth.login') }}" class="btn btn-default">войти</a>
    {% endif %}

{% endblock %}